<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<table>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}"/>
        <td th:text="${product.title}"/>
        <td th:text="${product.price}"/>
        <td>
            <form th:action="@{/{id}(id=${product.id})}">
                <input type="submit" value="delete">
            </form>
        </td>
    </tr>
</table>
</body>
</html>
